* {
    box-sizing: border-box !important;
    margin: 0;
}

h2 {
    margin-bottom: 15px;
}

html, body, #app {
    // background-color: rgba(black, 0.42) !important;
    height: 100%;
    // background-color: black;
    // color: white;
    // overflow: hidden;
}

#root, .app {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.router {
    flex: 1;
    display: flex;
}

.home {
    display: flex;
    width: 100%;

    .home-menu {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .home-solo-elt {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;
            margin: 30px 0;
            padding: 20px 40px;
            text-align: center;

            .home-solo-elt-icon {

            }

            .home-solo-elt-title {
                font-size: large;
                font-weight: bold;
                color: whitesmoke;
            }
        }

        .home-menu-solo { background-color: blue;}
        .home-menu-multi { background-color: red;}
        .home-menu-map { background-color: grey;}
        .home-menu-manager { background-color: orange;}
    }
}

.multiplayer-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .multiplayer-form-input {
        margin: 30px 0;   
        width: 60%; 
    }
    
    .multiplayer-form-button {
        
    }
}

.manager {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 25px;

    .constructions-zone {
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .turn {
            width: 100%;
            text-align: center;
        }

        .piles {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
            
            .pile {
                height: 150px;
                width: 300px;
                display: flex;
                flex-direction: row;
                border: 1px solid black;
                margin: 0 15px;
    
                .current-construction {
                    position: relative;
                    height: 100%;
                    width: 50%;
                    display: flex;
                    flex-direction: row;
    
                    .house-number {
                        width: 100%;
                        height: 100%;
                        // border: 1px solid blue;
                        font-size: 30px;
                        line-height: 150px;
                        text-align: center;
                    }
                    .effect {
                        position: absolute;
                        top:0;
                        left: 0;         
                        width: 33%;
                        height: 45px;
                        // border: 1px solid red;
                    }
                }
        
                .last-construction {
                    width: 50%;
                    height: 100%;
                    // border: 1px green solid;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
    
                    .construction-effect-icon {
                        min-height: 85px;
                    }
                }
            }
        }

        .constructions-actions {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }

$planHeight: 200px;

    .plans-zone {
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .plans {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        
            .plan {
                display: flex;
                flex-direction: column;
                // justify-content: space-between
                
                border: 1px solid black;
                width: 250px;
                height: $planHeight;

                .plan-mission {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;

                    border: 1px solid black;
                    flex: 1;
                    padding: 30px;

                    .plan-mission-construction {
                        // width: 50px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        margin: 10px 10px;

                        .mission-construction-spot {
                            width: 20px;
                            text-align: center;
                        }
                    }
                }

                .plan-rewards {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;

                    border: 1px solid black;
                    height: $planHeight / 5;
                    line-height: $planHeight / 5;
                    font-size: 25px;

                    .plan-rewards-first,
                    .plan-rewards-others {
                        width: $planHeight / 5;
                        text-align: center;
                        border: 2px solid darkgray;
                        border-radius: 400px;
                    }

                    .rewards-first-complete{
                        // visibility: hidden;
                        opacity: 0.4;
                    }
                }
            }
        }

        .plans-actions {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
        }
    }
}

.construction-effect {

    .construction-effect-icon {
        min-width: 100%;
        min-height: 45px;
        
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .surveyor          { background-image: url("../images/surveyor.png"); }
    .pool              { background-image: url("../images/pool.png"); }
    .interim           { background-image: url("../images/interim.png"); }
    .bis               { background-image: url("../images/bis.png"); }
    .park              { background-image: url("../images/park.png"); }
    .real_estate_agent { background-image: url("../images/real_estate_agent.png"); }
}

.map {
    margin: 10px auto 0;
    width: 70%;
    height: 50%;
    
    // background-image: url("../images/map_only.png"); // original low definition version

    background-image: url("../images/map_only-tone-enhance.jpg"); // enhanced definition version 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;

    position: relative;

    // Map boxes
    $nbLines: 3;
    
    @mixin mapBox($top, $left) {
        top: $top;
        left: $left;
    }

    .house, .park, .fence {
        position: absolute;
    }
    
    // Houses
    $houseWidth: 6.7%;
    $houseHeight: 18%;
    $topFirstLineHouse: 15.3%;
    $nbHouseOnLine: 10;
    $spaceBeetweenTwoHouses: 0%;
    $startHouseX: 23%;
    $gapBetweenTwoLinesHouse: 15.6%;

    .house {
        width: $houseWidth;
        height: $houseHeight;
        // border: 1px solid red;
        font-size: 100%;

        .field-construction-number ,.field-with-pool-construction-number {
            height: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        // .field-construction-number {
        //     padding-top: 40%;
        // }
        // .field-with-pool-construction-number {
        //     padding-top: 57%; 
        // }
    }

    .field-can-be-selected {
        border: 2px solid green;
    }
    .field-selected {
        border: 3px solid blue;
    }
    
    .field-can-be-selected-for-bis {
        border: 2px solid red;
    }
    .field-selected-for-bis {
        border: 3px solid orange;
    }
    // .field-bis {}
    .field-used {
        border-top: 5px solid gray;
    }

    $topFirstLinePark: 8.3%;
    $parkWidth: 3.2%;
    $nbParksOnLine: 3;
    $spaceBeetweenTwoParks: 0.1%;
    $startParkX: 79%;
    $gapBetweenTwoLinesPark: 22.4%;
    .park {
        width: $parkWidth;
        height: 5%;
        // border: 2px solid red;

        .park-checked {
            width: 100%;
            height: 100%;
            text-align: center;
        }
    }

    .fence {
        width: 1%;
        height: $houseHeight;
    }
    .fence-built {
        background-color: black;
    }
    .fence-selectable {
        border: 2px solid green;
    }
    .fence-selected {
        border: 2px solid blue;
    }

    @for $i from 0 to $nbLines {
        // Houses
        @for $j from 0 to $nbHouseOnLine {
            .field-line-#{$i}-spot-#{$j} {
                @include mapBox(
                    $topFirstLineHouse + $i * ($topFirstLineHouse + $gapBetweenTwoLinesHouse), 
                    $startHouseX + $j * ($spaceBeetweenTwoHouses + $houseWidth) - $i * ($spaceBeetweenTwoHouses + $houseWidth)
                )
            }
        }
        @for $fencePosition from 0 to $nbHouseOnLine - 1 {
            .fence-#{$i}-#{$fencePosition} {
                @include mapBox(
                    $topFirstLineHouse + $i * ($topFirstLineHouse + $gapBetweenTwoLinesHouse), 
                    $startHouseX + $houseWidth + $fencePosition * ($spaceBeetweenTwoHouses + $houseWidth) - $i * ($spaceBeetweenTwoHouses + $houseWidth)
                )
            }
        }

        // Next line has one more house / fence
        $nbHouseOnLine: $nbHouseOnLine + 1;

        // Parks
        @for $j from 0 to $nbParksOnLine {
            .park-line-#{$i}-spot-#{$j} {
                @include mapBox(
                    $topFirstLinePark + $i * ($topFirstLinePark + $gapBetweenTwoLinesPark), 
                    $startParkX + $j * ($spaceBeetweenTwoParks + $parkWidth) - $i * ($spaceBeetweenTwoParks + $parkWidth)
                )
            }
        }
        $nbParksOnLine: $nbParksOnLine + 1;
    }

}

.score-board {
    width: 100%;
    background-image: url('../images/score_only.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;

    @mixin scoreBoxFamily($width, $height){
        position: absolute;
        // border: 1px solid green;
        width: $width;
        height: $height;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @mixin scoreBox($top, $left) {
        top: $top;
        left: $left;
    }

    // plan scores
    $planScore_width: 5%;
    $planScore_height: 10%;

    .plan-score {
        @include scoreBoxFamily($planScore_width, $planScore_height);
    }
    
    $leftPlanScore: 7.3%;

    .plan-score-0 { @include scoreBox(21.5%, $leftPlanScore - $planScore_width / 2); }
    .plan-score-1 { @include scoreBox(40.5%, $leftPlanScore - $planScore_width / 2); }
    .plan-score-2 { @include scoreBox(59.5%, $leftPlanScore - $planScore_width / 2); }

    // pool scores
    $poolScore_width: 3%;
    $poolScore_height: 6%;

    .pool-score {
        @include scoreBoxFamily($poolScore_width, $poolScore_height);
        // color: red;
    }
    
    $leftPoolScore: 23.2%;

    .pool-score-0 { @include scoreBox(32%, $leftPoolScore - $poolScore_width / 2);}
    .pool-score-1 { @include scoreBox(32%, $leftPoolScore + 3 - $poolScore_width / 2);}
    .pool-score-2 { @include scoreBox(39%, $leftPoolScore - $poolScore_width / 2);}
    .pool-score-3 { @include scoreBox(39%, $leftPoolScore + 3 - $poolScore_width / 2);}
    .pool-score-4 { @include scoreBox(47.6%, $leftPoolScore - $poolScore_width / 2);}
    .pool-score-5 { @include scoreBox(47.6%, $leftPoolScore + 3 - $poolScore_width / 2);}
    .pool-score-6 { @include scoreBox(55.7%, $leftPoolScore - $poolScore_width / 2);}
    .pool-score-7 { @include scoreBox(55.7%, $leftPoolScore + 3 - $poolScore_width / 2);}
    .pool-score-8 { @include scoreBox(63%, $leftPoolScore - $poolScore_width / 2);}

    // interim score
    $interimScore_width: 3%;
    $interimScore_height: 6%;

    .interim-score {
        @include scoreBoxFamily($interimScore_width, $interimScore_height);
        // color: red;
    }
    
    $leftinterimScore: 33.3%;

    .interim-score-0 { @include scoreBox(28.2%, $leftinterimScore - $interimScore_width / 2);}
    .interim-score-1 { @include scoreBox(28.2%, $leftinterimScore + 4.15 - $interimScore_width / 2);}
    .interim-score-2 { @include scoreBox(32.6%, $leftinterimScore + 2.1 - $interimScore_width / 2);}

    .interim-score-3 { @include scoreBox(37%, $leftinterimScore - $interimScore_width / 2);}
    .interim-score-4 { @include scoreBox(37%, $leftinterimScore + 4.15 - $interimScore_width / 2);}
    .interim-score-5 { @include scoreBox(41.3%, $leftinterimScore + 2.1 - $interimScore_width / 2);}

    .interim-score-6 { @include scoreBox(46.1%, $leftinterimScore - $interimScore_width / 2);}
    .interim-score-7 { @include scoreBox(46.1%, $leftinterimScore + 4.15 - $interimScore_width / 2);}
    .interim-score-8 { @include scoreBox(50.4%, $leftinterimScore + 2.1 - $interimScore_width / 2);}

    .interim-score-9 { @include scoreBox(55.7%, $leftinterimScore + 4.15 - $interimScore_width / 2);}
    .interim-score-10 { @include scoreBox(55.7%, $leftinterimScore - $interimScore_width / 2);}

    // park score
    $parkScore_width: 4%;
    $parkScore_height: 9%;

    .park-score {
        @include scoreBoxFamily($parkScore_width, $parkScore_height);
    }
    
    $leftParkScore: 15.55%;

    .park-score-0 { @include scoreBox(36%, $leftParkScore - $parkScore_width / 2); }
    .park-score-1 { @include scoreBox(48%, $leftParkScore - $parkScore_width / 2); }
    .park-score-2 { @include scoreBox(59.5%, $leftParkScore - $parkScore_width / 2); }

    // estate agent score
    $estateScore_width: 4%;
    $estateScore_height: 9%;

    .estate-improvement {
        @include scoreBoxFamily($estateScore_width, $estateScore_height);
    }
    
    $leftestateScore: 45.9%;
    $estateStep: 4.48%;

    .estate-improvement-0-0 { @include scoreBox(40.5%, $leftestateScore - $estateScore_width / 2); }

    .estate-improvement-1-0 { @include scoreBox(37%, $leftestateScore + $estateStep - $estateScore_width / 2); }
    .estate-improvement-1-1 { @include scoreBox(44%, $leftestateScore + $estateStep - $estateScore_width / 2); }

    .estate-improvement-2-0 { @include scoreBox(33.4%, $leftestateScore + $estateStep * 2 - $estateScore_width / 2); }
    .estate-improvement-2-1 { @include scoreBox(39.5%, $leftestateScore + $estateStep * 2 - $estateScore_width / 2); }
    .estate-improvement-2-2 { @include scoreBox(46.5%, $leftestateScore + $estateStep * 2 - $estateScore_width / 2); }

    .estate-improvement-3-0 { @include scoreBox(29.5%, $leftestateScore + $estateStep * 3 - $estateScore_width / 2); }
    .estate-improvement-3-1 { @include scoreBox(36%, $leftestateScore + $estateStep * 3 - $estateScore_width / 2); }
    .estate-improvement-3-2 { @include scoreBox(43%, $leftestateScore + $estateStep * 3 - $estateScore_width / 2); }
    .estate-improvement-3-3 { @include scoreBox(49.5%, $leftestateScore + $estateStep * 3 - $estateScore_width / 2); }

    .estate-improvement-4-0 { @include scoreBox(25.5%, $leftestateScore + $estateStep * 4 - $estateScore_width / 2); }
    .estate-improvement-4-1 { @include scoreBox(32.5%, $leftestateScore + $estateStep * 4 - $estateScore_width / 2); }
    .estate-improvement-4-2 { @include scoreBox(39.5%, $leftestateScore + $estateStep * 4 - $estateScore_width / 2); }
    .estate-improvement-4-3 { @include scoreBox(46.2%, $leftestateScore + $estateStep * 4 - $estateScore_width / 2); }

    .estate-improvement-5-0 { @include scoreBox(21.8%, $leftestateScore + $estateStep * 5 - $estateScore_width / 2); }
    .estate-improvement-5-1 { @include scoreBox(28.5%, $leftestateScore + $estateStep * 5 - $estateScore_width / 2); }
    .estate-improvement-5-2 { @include scoreBox(35.8%, $leftestateScore + $estateStep * 5 - $estateScore_width / 2); }
    .estate-improvement-5-3 { @include scoreBox(42.5%, $leftestateScore + $estateStep * 5 - $estateScore_width / 2); }

    .estate-multiplicator {
        @include scoreBoxFamily($estateScore_width, $estateScore_height);
    }

    $leftestateMultiplicator: 45.9%;
    $estateMultiplicator_top: 62.7%;

    .estate-multiplicator-0 { @include scoreBox($estateMultiplicator_top, $leftestateMultiplicator + 4.8 * 0 - $estateScore_width / 2); }
    .estate-multiplicator-1 { @include scoreBox($estateMultiplicator_top, $leftestateMultiplicator + 4.8 * 1 - $estateScore_width / 2); }
    .estate-multiplicator-2 { @include scoreBox($estateMultiplicator_top, $leftestateMultiplicator + 4.8 * 2 - $estateScore_width / 2); }
    .estate-multiplicator-3 { @include scoreBox($estateMultiplicator_top, $leftestateMultiplicator + 4.8 * 3 - $estateScore_width / 2); }
    .estate-multiplicator-4 { @include scoreBox($estateMultiplicator_top, $leftestateMultiplicator + 4.8 * 4 - $estateScore_width / 2); }
    .estate-multiplicator-5 { @include scoreBox($estateMultiplicator_top, $leftestateMultiplicator + 4.8 * 5 - $estateScore_width / 2); }
    
    
    $estateTotal_width: 3.8%;
    .estate-total {
        @include scoreBoxFamily($estateTotal_width, $estateScore_height);
    }
    $leftestatetotal: 45.4%;
    $estatetotal_top: 77.5%;
    $estateTotal_step: 4.7%;

    .estate-total-0 { @include scoreBox($estatetotal_top, $leftestatetotal + $estateTotal_step * 0 - $estateTotal_width / 2); }
    .estate-total-1 { @include scoreBox($estatetotal_top, $leftestatetotal + $estateTotal_step * 1 - $estateTotal_width / 2); }
    .estate-total-2 { @include scoreBox($estatetotal_top, $leftestatetotal + $estateTotal_step * 2 - $estateTotal_width / 2); }
    .estate-total-3 { @include scoreBox($estatetotal_top, $leftestatetotal + $estateTotal_step * 3 - $estateTotal_width / 2); }
    .estate-total-4 { @include scoreBox($estatetotal_top, $leftestatetotal + $estateTotal_step * 4 - $estateTotal_width / 2); }
    .estate-total-5 { @include scoreBox($estatetotal_top, $leftestatetotal + $estateTotal_step * 5 - $estateTotal_width / 2); }
    
    // bis score
    $bisScore_width: 3%;
    $bisScore_height: 6%;

    .bis-score {
        @include scoreBoxFamily($bisScore_width, $bisScore_height);
        // color: red;
    }
    
    $leftbisScore: 76.3%;
    $bisScore_step: 3.5%;

    .bis-score-0 { @include scoreBox(25%, $leftbisScore - $bisScore_width / 2);}
    .bis-score-1 { @include scoreBox(25%, $leftbisScore + $bisScore_step - $bisScore_width / 2);}
    .bis-score-2 { @include scoreBox(34%, $leftbisScore - $bisScore_width / 2);}
    .bis-score-3 { @include scoreBox(34%, $leftbisScore + $bisScore_step - $bisScore_width / 2);}
    .bis-score-4 { @include scoreBox(44.6%, $leftbisScore - $bisScore_width / 2);}
    .bis-score-5 { @include scoreBox(44.6%, $leftbisScore + $bisScore_step - $bisScore_width / 2);}
    .bis-score-6 { @include scoreBox(53.7%, $leftbisScore - $bisScore_width / 2);}
    .bis-score-7 { @include scoreBox(53.7%, $leftbisScore + $bisScore_step - $bisScore_width / 2);}
    .bis-score-8 { @include scoreBox(63.5%, $leftbisScore - $bisScore_width / 2);}

    // roundabout score
    $roundaboutScore_width: 3%;
    $roundaboutScore_height: 6%;

    .roundabout-score {
        @include scoreBoxFamily($roundaboutScore_width, $roundaboutScore_height);
        // color: red;
    }
    
    $leftroundaboutScore: 86.65%;

    .roundabout-score-0 { @include scoreBox(9.1%, $leftroundaboutScore - $roundaboutScore_width / 2);}
    .roundabout-score-1 { @include scoreBox(18.3%, $leftroundaboutScore - $roundaboutScore_width / 2);}

    // unbuilt score
    $unbuiltScore_width: 3%;
    $unbuiltScore_height: 6%;

    .unbuilt-score {
        @include scoreBoxFamily($unbuiltScore_width, $unbuiltScore_height);
        // color: red;
    }
    
    $leftunbuiltScore: 86.65%;

    .unbuilt-score-0 { @include scoreBox(38%, $leftunbuiltScore - $unbuiltScore_width / 2);}
    .unbuilt-score-1 { @include scoreBox(47.3%, $leftunbuiltScore - $unbuiltScore_width / 2);}
    .unbuilt-score-2 { @include scoreBox(56.5%, $leftunbuiltScore - $unbuiltScore_width / 2);}

    // total scores
    $totalScores_top: 81.5%;
    $totalScore_width: 5%;
    $totalScore_height: 10%;

    .total-plan-score {
        @include scoreBoxFamily($totalScore_width, $totalScore_height);
        @include scoreBox($totalScores_top - $totalScore_height / 2, $leftPlanScore + 0.1 - $totalScore_width / 2);
    }
    .total-pool-score {
        @include scoreBoxFamily($totalScore_width, $totalScore_height);
        @include scoreBox($totalScores_top - $totalScore_height / 2, $leftPoolScore + 1.4 - $totalScore_width / 2);
    }
    .total-park-score {
        @include scoreBoxFamily($totalScore_width, $totalScore_height);
        @include scoreBox($totalScores_top - $totalScore_height / 2, $leftParkScore - $totalScore_width / 2);
    }
    .total-interim-score {
        @include scoreBoxFamily($totalScore_width, $totalScore_height);
        @include scoreBox($totalScores_top - $totalScore_height / 2, 35.1% - $totalScore_width / 2);
    }
    .total-bis-score {
        @include scoreBoxFamily($totalScore_width, $totalScore_height);
        @include scoreBox($totalScores_top - $totalScore_height / 2, 78.3% - $totalScore_width / 2);
    }
    .total-penalties-score {
        @include scoreBoxFamily($totalScore_width, $totalScore_height);
        @include scoreBox($totalScores_top - $totalScore_height / 2, 86.9% - $totalScore_width / 2);
    }
    .total-score {
        @include scoreBoxFamily($totalScore_width, $totalScore_height);
        @include scoreBox(81.5% - $totalScore_height / 2, 93.7% - $totalScore_width / 2);
    }
}

.construction {
    width: 100%;
    display: flex;
    flex-direction: row;
    
    .construction-number {
        width: 45%;
        text-align: center;
    }

    .construction-effect {
        width: 55%
    }
}

.game {
    display: flex;
    flex-direction: row-reverse ;
    height: 100%;
    width: 100%;
    padding: 30px;
    
    .game-main {
        height: 100%;
        width: 40%;

        .manager {
            height: 20%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            
            .constructions-zone {
                width: 33%;
                height: 100%;
                flex-direction: column;
            }
            
            .plans-zone {
                width: 66%;
                height: 100%;
                
                .plans {
                    height: 100%;
                }
                
                .plan {
                    width: 100px;
                    height: 100%;
                    
                    .plan-mission {
                        padding: 0px 0px;
                        
                        .plan-mission-construction {
                            margin: 5px 3px;
                            
                            .mission-construction-spot {
                                font-size: 12px;
                                line-height: 24px;
                                width: 10px;
                                text-align: center;
                            }
                        }
                    }
                }
                
                .plans-actions {
                    display: none;
                }
            }
        }

        .player-actions {
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .player-actions-info {
                height: 20%;

                .player-actions-Gamestepper {
                    height: 100%;
                }
            }


            .player-actions-content {
                height: 60%;

                .estate-zone {
                    height: 100%;

                    .effect-estate-choices {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;

                        .effect-estate-choice {
                            width: 80% / 6;
                        }
                        .effect-estate-choice-selected {
                            border: 1px solid violet;
                        }
                    }
                }

                .merged-construction-zone {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: space-around;

                    .merged-construction {
                        width: 80%;
                        margin: auto;
                    }
                }

            }

            .card-selector {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: space-around;
                justify-content: space-around;

                .possible-card {
                    width: 1 / 3 * 100%;
                }

                .possible-card-selected {
                    outline: 1px solid red;
                }
            }

            .player-actions-play-btn {
                height: 20%;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                button {
                    min-width: 35%;
                } 
            }
        }
    }

    .game-paper {
        $mapHeight: 58%;
        $scoreBoardHeigth: 100% - $mapHeight;
        width: 60%;
        // max-width: 800px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .map {
            width: 100%;
            height: $mapHeight;
            margin: 0px auto;
        }

        .score-board {
            height: $scoreBoardHeigth;
            margin: 0px auto;
        }
        
    }
    
}

.game-over {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .game-over-title {
        width: 100%;
        height: 20%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: black;
        color: white;
        font-size: 44px;
        font-weight: bold;
        text-align: center;
    }

    .game-over-content {
        height: 60%;
        
    }

    .game-over-actions {
        height: 20%;
    }
}

@mixin disabled {
    color: lightgray;
}

.disabled {
    @include disabled();
}

.map-module{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding: 30px;
    
    
    .map-module-paper {
        $mapHeight: 58%;
        $scoreBoardHeigth: 100% - $mapHeight;
        width: 60%;
        // max-width: 800px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .map {
            width: 100%;
            height: $mapHeight;
            margin: 0px auto;
        }

        .score-board {
            height: $scoreBoardHeigth;
            margin: 0px auto;
        }
        
    }
    
    .map-module-main {
        width: 40%;
        padding-left: 30px;
        height: 100%;

        .map-actions{
            width:100%;
            height:100%;
            display: flex;
            flex-direction: column;

            .map-specific-actions {
                height: 80%;

                .map-actions-info{
                    border: 1px solid black;
                    height: 20%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                }

                // Buttons
                .map-actions-field .numbers, .map-actions-plans {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;

                    .numbers-elt, .plan-numbers-elt  {
                        margin: 15px;
                        line-height: 60px;
                        text-align: center;
                        height: 60px;
                        width: 60px;

                        border: 1px grey solid;
                    }
                }

                .map-actions-field {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    .map-actions-field-effects {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: center;

                        .map-actions-btn {
                            margin: 15px;
                            padding: 0 15px;
                            line-height: 60px;
                            text-align: center;
                            height: 60px;

                            border: 1px grey solid;
                        }
                    }
        
                    .actions {
                        display: flex;
                        justify-content: center;
                    }
                }
            }

            .map-global-actions {
                height: 20%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-top: 1px black solid;

                .map-estate-zone {
                    display: flex;
                    flex-direction: column;

                    .map-estate-zone-btns {
                        display: flex;
                        flex-direction: row;

                        .estates-elt {
                            $estateBoxSize: 40px; 

                            width: $estateBoxSize;
                            height: $estateBoxSize;
                            line-height: $estateBoxSize;
                            border: 1px solid grey;
                            text-align: center;
                        }
                    }
                }

                .rejection-btn {
                    height: 60%;
                    width: 60%;
                    margin: auto;
                }
            }
        }

    }
}