* {
    box-sizing: border-box !important;
    margin: 0;
}

h2 {
    margin-bottom: 15px;
}

html, body, #app {
    // background-color: rgba(black, 0.42) !important;
    height: 100%;
    // overflow: hidden;
}

#root, .app {
    height: 100%;
    overflow: hidden;
}


.app {
    // display: flex;
    // flex-direction: column;
}

.manager {
    // height: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // padding: 0 25px;
}

